<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Processo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/css/home.css" rel="stylesheet">
   <!-- Inclua o Handlebars.js via CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>

  <main class="bg-body-tertiary">
    <div class="d-flex align-items-center" style="flex-direction: column;width: 100%;height: 90%;">

      <div class="form-signin card container" style="justify-content:initial;height: 30rem;">
        <div name='titulo' class="d-flex justify-content-between align-items-center border-bottom">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-filter-left"
            viewBox="0 0 16 16">
            <path
              d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
            </path>
          </svg>
          <h3 class="fw-normal text-center titulosEtapas" style="margin: 0!important">Processos abertos</h3>
          <div>
            <button type="button" class="btn border">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-down" viewBox="0 0 16 16">
                <path
                  d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z">
                </path>
              </svg>
            </button>
          </div>
        </div>

        <div name="content" style="height: 100%; overflow: auto;">

          {{#each processos}}
            <div name="processo" class="d-flex flex-row justify-content-between align-items-center rounded text-white flex-direction mt-3" style="background-color:#0D6EFD;height: 35px;">
              
              <div class="ps-3">
                
                <p name="data-entrada">#{{id_processo}} - <span>{{formatDate dt_entrada_gecri}}</span></p>
                <span></span>
              </div>

              <div class="d-flex justify-content-between text-center">
                <p name="nome-mutuario" class="m-0">Mutuário: {{mutuario_ref}} </p>
              </div>

              <div class="d-flex align-items-center justify-content-between pe-3" style="gap:10px">

                <p name="status" class="m-0 text-center"> Status: {{status}}</p>

                <a href="triagem?id_processo={{id_processo}}" style="color: #0cff00">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                  </svg>
                </a>

                <a href="excluir?id_processo={{id_processo}}" style="color: red">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </a>                

              </div>

            </div>
          {{/each}}
          
          
        </div>



      </div>

    </div>
  </main>

  <script src="/js/home/functions.js"></script>
  <!-- <script src="/js/home/post_infos.js"></script> -->
</body>

</html>