<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pendência</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="screen"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="../css/triagem.css" rel="stylesheet">
</head>

<body class="bg-body-tertiary">

    <main>
        <div class="d-flex align-items-center" style="flex-direction: column;width: 100%">

            <div id='detalhes_processo' class="form-signin card container">
                <div name="detalhes_content">
                    <div class="divTitulosEtapas d-flex align-items-center border-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-filter-left" viewBox="0 0 16 16">
                            <path
                                d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
                            </path>
                        </svg>
                        <h3 class="fw-normal text-center titulosEtapas m-0 ms-5">Resumo do contrato:</h3>

                    </div>

                    <div class="align-items-center">

                        {{#if sucess}}
                        <div class="process-details">

                            <div class="left-column">
                                <h4>Compra e venda:</h4>
                                <!-- Conteúdo das 2 subdivs à esquerda -->
                                <div class="subdiv">
                                    <strong>Mutuários: </strong>
                                    {{#each processo.mutuarios}}
                                    <ul>
                                        <li> Nome: {{nome_mut}} </li>
                                        <li> CPF/CNPJ: {{cpf_cnpj}} </li>
                                        <li> Dt. Nascimento: {{formatDate dt_nascimento_mut}} </li>
                                    </ul>
                                    {{/each}}
                                </div>
                                <div class="subdiv">
                                    <strong>Vendedores: </strong>
                                    {{#each processo.vendedores}}
                                    <ul>
                                        <li> Nome: {{nome_vend}} </li>
                                        <li> CPF/CNPJ: {{cpf_cnpj}} </li>
                                    </ul>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="right-column">
                                <h4>Detalhes do contrato:</h4>
                                <!-- Conteúdo das 3 subdivs à direita -->
                                <div class="subdiv">
                                    <strong>Geral:</strong>
                                    <ul>
                                        <li> Dt. Entrada Gecri: {{formatDate processo.dt_entrada_gecri}}</li>
                                        <li> Vl. Compra e Venda: {{processo.vl_compra_venda}}</li>
                                        <li> Vl. Financiamento: {{processo.vl_financiamento}}</li>
                                        <li> FGTS: {{processo.fgts}} | IQ: {{processo.iq}}</li>
                                        <li> {{processo.sist_amortizacao}} | {{processo.prazo}} meses |
                                            {{processo.taxa}} ({{processo.tipo_taxa}}) </li>
                                    </ul>
                                </div>
                                <div class="subdiv">
                                    <strong>Agência:</strong>
                                    <ul>
                                        <li>CID: {{processo.cid}}</li>
                                        <li>Nome: {{processo.nome_agencia}}</li>
                                        <li>SUREG: {{processo.sureg}}</li>
                                    </ul>
                                </div>
                                <div class="subdiv">
                                    <strong>Correspondente:</strong>
                                    <ul>
                                        <li>Nome: {{processo.nome_corresp}}</li>
                                        <li>CNPJ: {{processo.cnpj_corresp}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>

            </div>
            <div id="bloco-etapas">

                <div id='dps' class="form-signin card">
                    <div class="divTitulosEtapas d-flex justify-content-between align-items-center border-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-filter-left" viewBox="0 0 16 16">
                            <path
                                d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        <h3 class="fw-normal text-center titulosEtapas" style="margin: 0!important">DPS</h3>
                        <div>
                            <button type="button" class="btn border">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-down" viewBox="0 0 16 16">
                                    <path
                                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div name="content" class="align-items-center">
                        <form id="formDps">
                            <div style="display:flex;justify-content:center">
                                <div class="card" style="width: 30%;gap:10px;padding-block: 1%;margin:0!important">
                                    <div style="display: flex;" class="border-bottom">
                                        <div style="display: flex;width: 100%;justify-content: space-evenly">
                                            <h4> DPS Positiva? </h4>
                                            <div
                                                style="display: flex;justify-content: space-evenly;align-items: center;gap: 10px;">
                                                <div> <input class="form-check-input" type="radio" name="dps?"
                                                        value="true" required {{checkCondicaoDps
                                                        processo.dps_condicao "sim" }}> Sim </div>
                                                <div> <input class="form-check-input" type="radio" name="dps?"
                                                        value="false" required {{checkCondicaoDps
                                                        processo.dps_condicao "nao" }}> Não </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div id="statusDps-div">
                                            <h4 class="text-center"> Aceita pela seguradora? </h4>
                                            <div
                                                style="display: flex;justify-content: space-evenly;align-items: center;">
                                                <div> <input class="form-check-input" type="radio" name="statusdps"
                                                        value="sim" required {{checkStatusDps processo.dps_status "sim"
                                                        }}> Sim </div>
                                                <div> <input class="form-check-input" type="radio" name="statusdps"
                                                        value="nao" required {{checkStatusDps processo.dps_status "nao"
                                                        }}> Não </div>
                                                <div> <input class="form-check-input" type="radio" name="statusdps"
                                                        value="analise" required {{checkStatusDps
                                                        processo.dps_status "analise" }}> Em análise </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="divButton"> <button class="submitButton" type="submit"> Confirmar </button>
                            </div>
                        </form>


                    </div>


                </div>

                <div id='montagem' class="form-signin card">
                    <div class="divTitulosEtapas d-flex justify-content-between align-items-center border-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-filter-left" viewBox="0 0 16 16">
                            <path
                                d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        <h3 class="fw-normal text-center titulosEtapas" style="margin: 0!important">Montagem da pasta
                        </h3>
                        <div>
                            <button type="button" class="btn border">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-down" viewBox="0 0 16 16">
                                    <path
                                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div name="content" class="align-items-center">
                        <form id="montagemForm">
                            
                            <div style="display:flex;justify-content:center">
                            
                                <div class="card" style="width: 30%;gap:10px;padding-block: 1%;margin:0!important">
                                    <div style="display: flex;" class="border-bottom">
                                        <div style="display: flex;width: 100%;justify-content: space-evenly">
                                            <h4> A montagem foi feita? </h4>
                                            <div
                                                style="display: flex;justify-content: space-evenly;align-items: center;gap: 10px;">
                                                <div> <input class="form-check-input" type="radio" name="montagem?" value="true"
                                                        required=""> Sim </div>
                                                <div> <input class="form-check-input" type="radio" name="montagem?" value="false"
                                                        required="" checked> Não </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="divButton"> <button class="submitButton" type="submit"> Confirmar </button>
                            </div>
                        </form>
                    </div>


                </div>

                <div id='certidoes' class="form-signin card">
                    <div class="divTitulosEtapas d-flex justify-content-between align-items-center border-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-filter-left" viewBox="0 0 16 16">
                            <path
                                d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        <h3 class="fw-normal text-center titulosEtapas" style="margin: 0!important">Certidões</h3>
                        <div>
                            <button type="button" class="btn border">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-down" viewBox="0 0 16 16">
                                    <path
                                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div name="content" class="overflow-auto">
                        <form id="certidoesForm">
                            <div class="d-flex justify-content-center" style="gap: 1%">

                                <div class="d-flex flex-column align-items-center justify-content-center"
                                    style="width: 80%;padding: 6px;">
                                    <!-- MUTUARIOS -->
                                    <div class="d-flex flex-row" style="width: 100%;">

                                        <div style="width: 100%;" name="listaMutuarios">
                                            <h3>Mutuario(s)</h3>
                                            <div style="display: flex;flex-direction:column;padding-bottom: 1.5%;width: 100%;"
                                                class="border-bottom">

                                                {{#each processo.mutuarios}}
                                                <!-- Mutuario 1 -->
                                                <div style="display: flex; width: 100%; gap: 10px;">
                                                    <!-- INFOS MUTUARIO -->
                                                    <div class="d-flex border-end"
                                                        style="width: 50%;gap:10px;padding-right: 3px;">
                                                        <div class="form-floating" style="width: 65%;">
                                                            <h6 class="fw-normal">Mutuario </h6>
                                                            <input type="text" class="form-control" id="nome_mutuario{{@index}}"
                                                                placeholder="Nome do Mutuario"
                                                                value="{{nome_mut}}" readonly>
                                                        </div>

                                                        <div class="form-floating divinput-margin-left"
                                                            style="width: 35%;">
                                                            <h6 class="fw-normal">CPF</h6>
                                                            <input type="text" class="form-control" id="num_Mutuario{{@index}}"
                                                                placeholder="CPF/CNPJ" maxlength="18"
                                                                value="{{cpf_cnpj}}" readonly>
                                                        </div>

                                                        <div class="divinput-margin-left"
                                                            style="display:flex;align-items:center;width: 15%;justify-content: space-around;">
                                                            <div> <input class="form-check-input" type="radio"
                                                                    name="tipoUsuario{{@index}}" value="{{tipo}}" readonly checked> {{tipo}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- FIM INFOS MUTUARIO -->

                                                    <!-- CERTIDOES MUTUARIO -->
                                                    {{#if pj}}
                                                        <div class="d-flex align-items-center overflow-auto"
                                                            style="width: 50%;gap:10px;padding-left: 3px;">
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="histJunta{{@index}}">
                                                                    Hist. Junta Comercial</label>
                                                                <input type="checkbox" class="docsMut{{@index}}" id="histJunta{{@index}}" {{checkDocumento hist_junta_comercial}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="cadastroCNPJ{{@index}}">Cadastro
                                                                    CNPJ</label>
                                                                <input type="checkbox" class="docsMut{{@index}}" id="cadastroCNPJ{{@index}}" {{checkDocumento cadast_cnpj}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoFGTS{{@index}}">Certidão
                                                                    FGTS</label>
                                                                <input type="checkbox" class="docsMut{{@index}}" id="certidaoFGTS{{@index}}" {{checkDocumento cert_fgts}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoCND{{@index}}">Certidão
                                                                    CND</label>
                                                                <input type="checkbox" class="docsMut{{@index}}" id="certidaoCND{{@index}}"  {{checkDocumento cert_cnd}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoTrabalhista{{@index}}">Certidão
                                                                    Trabalhista</label>
                                                                <input type="checkbox" class="docsMut{{@index}}" id="certidaoTrabalhista{{@index}}" {{checkDocumento cert_trabalhista}}>
                                                            </div>
                                                        </div>
                                                    {{else}}
                                                        <div class="d-flex align-items-center"
                                                            style="width: 50%;gap:10px;padding-left: 3px;">
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoTrabalhista{{@index}}">Certidão
                                                                    Trabalhista</label>
                                                                <input type="checkbox" class="docsMut{{@index}}" id="certidaoTrabalhista{{@index}}" {{checkDocumento cert_trabalhista}}>
                                                            </div>
                                                        </div>
                                                    {{/if}}
                                                    <!-- FIM CERTIDOES MUTUARIO -->
                                                </div>
                                                {{/each}}

                                            </div>
                                        </div>

                                    </div>

                                    <!-- VENDEDORES -->
                                    <div class="d-flex flex-row" style="width: 100%;">

                                        <div style="width: 100%;" name="listaMutuarios">
                                            <h3>Vendedor(es)</h3>
                                            <div style="display: flex;flex-direction:column;padding-bottom: 1.5%;width: 100%;"
                                                class="border-bottom">

                                                {{#each processo.vendedores}}
                                                <!-- Vendedor 1 -->
                                                <div style="display: flex; width: 100%; gap: 10px;">
                                                    <!-- INFOS VENDEDOR -->
                                                    <div class="d-flex border-end"
                                                        style="width: 50%;gap:10px;padding-right: 3px;">
                                                        <div class="form-floating" style="width: 65%;">
                                                            <h6 class="fw-normal">Vendedor</h6>
                                                            <input type="text" class="form-control" id="nome_vendedor{{@index}}"
                                                                placeholder="Nome do Mutuario" value="{{nome_vend}}"
                                                                readonly>
                                                        </div>

                                                        <div class="form-floating divinput-margin-left"
                                                            style="width: 35%;">
                                                            <h6 class="fw-normal">CNPJ</h6>
                                                            <input type="text" class="form-control" id="num_Vendedor{{@index}}"
                                                                placeholder="CPF/CNPJ"
                                                                value="{{cpf_cnpj}}" readonly>
                                                        </div>

                                                        <div class="divinput-margin-left"
                                                            style="display:flex;align-items:center;width: 15%;justify-content: space-around;">
                                                            <div> <input class="form-check-input" type="radio"
                                                                    name="tipoVendedor{{@index}}" value="{{tipo}}" readonly checked> {{tipo}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- FIM INFOS VENDEDOR -->

                                                    <!-- CERTIDOES VENDEDOR -->
                                                    {{#if pj}}
                                                        <div class="d-flex align-items-center overflow-auto"
                                                            style="width: 50%;gap:10px;padding-left: 3px;">
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="histJunta{{@index}}">
                                                                    Hist. Junta Comercial</label>
                                                                <input type="checkbox" class="docsVend{{@index}}" id="histJunta{{@index}}" {{checkDocumento hist_junta_comercial}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="cadastroCNPJ{{@index}}">Cadastro
                                                                    CNPJ</label>
                                                                <input type="checkbox" class="docsVend{{@index}}" id="cadastroCNPJ{{@index}}" {{checkDocumento cadast_cnpj}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoFGTS{{@index}}">Certidão
                                                                    FGTS</label>
                                                                <input type="checkbox" class="docsVend{{@index}}" id="certidaoFGTS{{@index}}" {{checkDocumento cert_fgts}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoCND{{@index}}">Certidão
                                                                    CND</label>
                                                                <input type="checkbox" class="docsVend{{@index}}" id="certidaoCND{{@index}}" {{checkDocumento cert_cnd}}>
                                                            </div>
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoTrabalhista{{@index}}">Certidão
                                                                    Trabalhista</label>
                                                                <input type="checkbox" class="docsVend{{@index}}" id="certidaoTrabalhista{{@index}}" {{checkDocumento cert_trabalhista}}>
                                                            </div>
                                                        </div>
                                                    {{else}}
                                                        <div class="d-flex align-items-center overflow-auto"
                                                            style="width: 50%;gap:10px;padding-left: 3px;">
                                                            <div class="d-flex align-items-center" style="gap: 8px">
                                                                <label style="margin:0" for="certidaoTrabalhista{{@index}}">Certidão
                                                                    Trabalhista</label>
                                                                <input type="checkbox" class="docsVend{{@index}}" id="certidaoTrabalhista{{@index}}" {{checkDocumento cert_trabalhista}}>
                                                            </div>
                                                        </div>
                                                    {{/if}}
                                                    
                                                    <!-- FIM CERTIDOES VENDEDOR -->
                                                </div>
                                                {{/each}}

                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                            <div class="divButton"> <button class='submitButton' type="submit"> Confirmar </button>
                            </div>
                        </form>
                    </div>


                </div>

                <div id='analiseDocumental' class="form-signin card">
                    <div class="divTitulosEtapas d-flex justify-content-between align-items-center border-bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-filter-left" viewBox="0 0 16 16">
                            <path
                                d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        <h3 class="fw-normal text-center titulosEtapas" style="margin: 0!important">Analise documental
                        </h3>
                        <div>
                            <button type="button" class="btn border">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-caret-down" viewBox="0 0 16 16">
                                    <path
                                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div name="content">
                        <form id='tratativaPendencia'>
                            <h4 style="margin-top: 0;margin-bottom: 10px;"> Selecione <b>somente</b> as
                                <b>PENDÊNCIAS</b>:
                            </h4>
                            <div id="divDocs">

                                <div class="columns">
                                    <h4> Comprador </h4>
                                    <div class="itens">

                                        <ul> <input type="checkbox" name="" id=""> <span> Quadro Resumo </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> DPS </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Identificação </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Estado Civil </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Comprovante de Residência
                                            </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Produração </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Certidões </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Anexo X </span> </ul>
                                    </div>
                                </div>

                                <div class="columns border-left">
                                    <h4> FGTS </h4>
                                    <div class="itens">

                                        <ul> <input type="checkbox" name="" id=""> <span> Pendencia 1 </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Pendencia 2 </span> </ul>
                                    </div>
                                </div>

                                <div class="columns border-left">
                                    <h4> Vendedor </h4>
                                    <div class="itens">

                                        <ul> <input type="checkbox" name="" id=""> <span> Identificação </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Estado Civil </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Comprovante de Residência
                                            </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Produração </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Certidões </span> </ul>
                                    </div>
                                </div>

                                <div class="columns border-left">
                                    <h4> Imovel </h4>
                                    <div class="itens">
                                        <ul> <input type="checkbox" name="" id=""> <span> Onus </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Espelho de Cadastro </span>
                                        </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> CAT </span> </ul>
                                        <ul> <input type="checkbox" name="" id=""> <span> Solicitação de Laudo </span>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <div class='d-flex' style="margin: 0px 0px 10px 0px;justify-content: space-evenly;">
                                <button class="btn btn-primary py-2" type="button" onclick="checarDocs()"> Cadastrar
                                    pendências </button>
                                <button class="btn btn-primary py-2" type="button" onclick="excluirPendencias()"> Apagar
                                    todas as pendências </button>
                            </div>
                            <h5 style="font-weight: bold;margin-bottom: 0;"> Docs pendentes: </h5>
                            <div id="pendenciasDiv" class="margin-bottom-form">

                            </div>
                            <div class="divButton"> <button class='submitButton' type="submit"> Confirmar </button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>

        </div>
    </main>
</body>

</html>
<script src="../js/triagem/functions.js"></script>
<script src="../js/triagem/post_infos.js"></script>